.heading{
  margin: auto;
}

.name{
  margin: auto;
  font-size: 40px;
  font-family: ARIAL;
  font-weight: 600;
  color:black;
  padding: 20px;
  text-align: center;
}

.desc{
  text-align: center;
  
}
